
@{
   Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pageslayout</title> 
     @RenderSection("styles", false)
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("scripts",false)
    @RenderSection("script", false)
</head>
<body>
<div>  
@RenderBody()
</div>
</body>
</html>
